datasets/mit
datasets/ppi
datasets/email
datasets/twitter
datasets/gplus

headnet/optimizers.py

embeddings*
test_results*

edgelists
nodes
jupyter_notebooks
collated_results

cleanup_embeddings.py

*.zip

/*.png

instant-slurm.sh
